.env
app/storage/uploads/*
!app/storage/uploads/.gitkeep
app/storage/tmp/*
!app/storage/tmp/.gitkeep
app/public/assets/branding/*
!app/public/assets/branding/.gitkeep
app/public/assets/showcase/*
!app/public/assets/showcase/.gitkeep
*.log
.DS_Store
Thumbs.db
app/vendor/
